@model WebApp.Models.Product

@{
    ViewData["Title"] = "Product Detail";
}

    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="0"
                                class="active">
                                <img src="~/img/product/single-product/s-product-s-2.jpg" alt="" />
                            </li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="1">
                                <img src="~/img/product/single-product/s-product-s-2.jpg" alt="" />
                            </li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="2">
                                <img src="~/img/product/single-product/s-product-s-2.jpg" alt="" />
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="@Url.Content("~/" + Model.ImageUrl)" 
                                     alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="@Url.Content("~/" + Model.ImageUrl)"
                                     alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="@Url.Content("~/" + Model.ImageUrl)"
                                     alt="Third slide" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>Faded SkyBlu Denim Jeans</h3>
                    @if(Model.Discount > 0)
                    {
                        <h2>$@Model.GetPriceAfterDiscount()
                            <del style="color: gray;">$@Model.Price</del>
                        </h2>
                    }
                    else
                    {
                        <h2>$@Model.Price</h2>
                    }
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span> : @Model.Category.Name
                            </a>
                        </li>
                        <li>
                            @if(Model.Quantity > 0)
                            {
                                <a href="#"> <span>Availibility</span> : In Stock</a>
                            }
                            else
                            {
                                <a href="#">
                                    <span style="color: red;">Availability</span> : Out of Stock
                                </a>
                            }
                        </li>
                    </ul>
                    <p>
                      @Model.Description
                    </p>
                    <form method="get" asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id" class="card_area_form">
                        <div class="product_count">
                            <label for="sst">Quantity:</label>
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                            <input type="number"
                                   name="quantity"
                                   id="sst"
                                   maxlength="12"
                                   value="1"
                                   min="1"
                                   max="@Model.Quantity"
                                   title="Quantity:"
                                   class="input-text qty"
                                   oninput="let max=@Model.Quantity;
                                   if(this.value> max) this.value = max;
                                   if(this.value < 1) this.value = 1;" />
                            <button type="button" class="increase items-count"
                                    onclick="var result = document.getElementById('sst'); var sst=parseInt(result.value); if (!isNaN(sst) && sst < @Model.Quantity) { result.value = sst + 1;} return false;">
                                    <i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button type="button" class="reduced items-count"
                                    onclick="var result = document.getElementById('sst'); var sst=parseInt(result.value); if (!isNaN(sst) && sst > 1) { result.value = sst - 1;} return false;">
                                    <i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>

                        <div class="card_area">

                            @if (Model.Quantity > 0)
                            {
                                <button type="submit" class="main_btn">Add to Cart</button>
                            }
                            else
                            {
                                <button type="submit"
                                        class="main_btn"
                                        disabled
                                        style="cursor: not-allowed; opacity: 0.5; background-color: #ccc; color: #666; border: 1px solid #999;">
                                    Add to Cart
                                </button>
                            }
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>

